services:
  litellm:
    image: ghcr.io/berriai/litellm:litellm_stable_release_branch-v1.76.1-stable
    volumes:
      - type: bind
        source: ./config.yaml
        target: /app/config.yaml
      - type: bind
        source: ./vertex
        target: /mnt/data/vertex
    command:
     - "--config=/app/config.yaml"
    ports:
      - "4000:4000"
    environment:
      DATABASE_URL: postgresql://${LITELLM_DB_USER:-llmproxy}:${LITELLM_DB_PASSWORD:-litellmpassword}@litellm_db:5432/litellm
      STORE_MODEL_IN_DB: "True"
      OLLAMA_HOST: http://host.docker.internal:11434
      LITELLM_LOG: DEBUG
    env_file:
      - .env
    depends_on:
      litellm_db:
        condition: service_healthy

  litellm_db:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: litellm
      POSTGRES_USER: ${LITELLM_DB_USER:-llmproxy}
      POSTGRES_PASSWORD: ${LITELLM_DB_PASSWORD:-litellmpassword}
    volumes:
      - ${LITELLM_DB_DATA_PATH:-./litellm_db_data}:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d litellm -U ${LITELLM_DB_USER:-llmproxy}"]
      interval: 1s
      timeout: 5s
      retries: 10
